node/source/continue/Release/
node/source/continue/Debug/
node/source/continue/ipch/
node/source/continue/ContinueScript.vcproj.*.user
node/source/continue/ContinueScript.vcxproj.user
node/source/continue/*.ncb
node/source/continue/*.sdf
node/source/continue/*.suo
node/source/logger/Release/
node/source/logger/Debug/
node/source/logger/ipch/
node/source/logger/logger.vcproj.*.user
node/source/logger/logger.vcxproj.user
node/source/logger/*.ncb
node/source/logger/*.sdf
node/source/logger/*.suo
node/source/heap/Release/
node/source/heap/Debug/
node/source/heap/ipch/
node/source/heap/heap.vcproj.*.user
node/source/heap/heap.vcxproj.user
node/source/heap/*.ncb
node/source/heap/*.sdf
node/source/heap/*.suo
node/source/heap/inject_heaphook/
node/source/heap/heap_test/
node/data/symsrv.yes
server/config.php
desktop.ini



